
@font-face{
    font-family : Pretendard;
    src:url("../fonts/PretendardVariable.ttf");
}

/* @font-face{
    font-family : aGothic13;
    src:url("../fonts/a고딕13.ttf");
    font-weight: 300;
} */
